.widget_ramp_widget-view-3 {
	background-color: #d8d6d1;
	border-radius: 6px;
	border-bottom: 1px solid #e4e2dd;
	padding: 9px 0 7px;
	height: 63px;
	overflow: hidden;

	-webkit-box-shadow: 0px 1px 0px 0px #b6b5b5;
	-moz-box-shadow:    0px 1px 0px 0px #b6b5b5;
	box-shadow:         0px 1px 0px 0px #b6b5b5;
}
.banner-media-group .widget_ramp_widget-view-3 {
	margin-right: 10px;
}

.widget_ramp_widget-view-3 .widget-title,
.widget_ramp_widget-view-3 .sidebar-widget-title {
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	font-family: Arial;
	font-weight: 900;
	padding: 0 0 2px 9px;
	margin: 0;
}
.widget_ramp_widget-view-3 .ramp-slider-wrapper {
	position: relative;
	padding: 0 40px;
	background: none !important;
}
.widget_ramp_widget-view-3 .prev-next-navigation {
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.widget_ramp_widget-view-3 .prev-next-navigation .nav-item {
	width: 28px;
	height: 26px;
	display: block;
	position: absolute;
	top: 3px;
	overflow: hidden;

	border: 1px solid #fff;

	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	-ms-border-radius: 6px; 
	border-radius: 6px;

	-webkit-box-shadow: 0px 3px 1px 0px rgba(173, 171, 167, 1);
	-moz-box-shadow:    0px 3px 1px 0px rgba(173, 171, 167, 1);
	box-shadow:         0px 3px 1px 0px rgba(173, 171, 167, 1);
}
.widget_ramp_widget-view-3 .prev-next-navigation .prev {
	left: 9px;
}
.widget_ramp_widget-view-3 .prev-next-navigation .next {
	right: 8px;
}
.widget_ramp_widget-view-3 .prev-next-navigation .nav-item .inn {
	width: 100%;
	height: 24px;
	display: block;
	position: relative;

	background: #161511; /* Old browsers */
	background: -moz-linear-gradient(top,  #161511 0%, #353227 42%, #373429 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161511), color-stop(42%,#353227), color-stop(100%,#373429)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #161511 0%,#353227 42%,#373429 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #161511 0%,#353227 42%,#373429 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #161511 0%,#353227 42%,#373429 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #161511 0%,#353227 42%,#373429 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161511', endColorstr='#373429',GradientType=0 );*/ /* IE6-9 */
}
.widget_ramp_widget-view-3 .prev-next-navigation .nav-item .treangle {
	border-width: 7px;
	border-style: solid;
	border-color: transparent;
	display: block;
	width: 0px;
	height: 0px;
	top: 5px;
	position: absolute;
}
.widget_ramp_widget-view-3 .prev-next-navigation .prev .treangle {
	border-right-color: #fff;
	left: 2px;
}
.widget_ramp_widget-view-3 .prev-next-navigation .next .treangle {
	border-left-color: #fff;
	right: 2px;
}
.widget_ramp_widget-view-3 .ramp-slider-wrapper .posts-container {
	height: auto;
	overflow: hidden;
	min-height: 32px;
}
.widget_ramp_widget-view-3 .ramp-slider-wrapper article {
	background: none;
	height: auto;
	/*float: left;*/
	vertical-align: middle;
	display: none;
	padding: 0;
}
.widget_ramp_widget-view-3 .ramp-slider-wrapper article:first-child {
	display: inline-block;
}
.widget_ramp_widget-view-3 .ramp-slider-wrapper article .title {
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
	max-height: 32px;
}
.widget_ramp_widget-view-3 .ramp-play-btn {
	display: none;
}