/**
 * Style advertise meta form
 */

$label-width: 120px;
$label-offset: 10px;

.rssi-row {
	position: relative;
	margin: 15px 0;
}

.label-row {
	padding-left: $label-width + $label-offset;

	.main-label {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: $label-width;
	}

	&.with-secondary-label {
		padding-right: $label-width + $label-offset;
	}
	.secondary-label {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: $label-width;
	}
}

/**
 * All checkboxes inside are grouped in 3 columns
 */
.checkboxes {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	@media screen and (MIN-width: 1024px) {
		max-width: 250px;
	}

	label {
		display: block;
	}
}

textarea {
	width: 100%;
	height: 50px;
}
input[type="text"] {
	padding: 4px;
}
label {
	line-height: 25px;
}