/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Wrap all styles inside advertise class container
 */
/* line 9, ../src/xml-map/sass/front.scss */
.rss-import {
  position: relative;
  overflow: hidden;
}
/* line 13, ../src/xml-map/sass/front.scss */
.rss-import img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 20, ../src/xml-map/sass/front.scss */
html.no-flash .rss-import embed, html.no-flash .rss-import object {
  visibility: hidden;
}
/* line 23, ../src/xml-map/sass/front.scss */
.rss-import .banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 0;
}
