/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Wrap all styles inside advertise class container
 */
/* line 9, ../src/xml-map/sass/screen.scss */
.rss-import {
  /**
   * Style advertise meta form
   */
  /**
   * All checkboxes inside are grouped in 3 columns
   */
}
/* line 8, ../src/xml-map/sass/_forms.scss */
.rss-import .rssi-row {
  position: relative;
  margin: 15px 0;
}
/* line 13, ../src/xml-map/sass/_forms.scss */
.rss-import .label-row {
  padding-left: 130px;
}
/* line 16, ../src/xml-map/sass/_forms.scss */
.rss-import .label-row .main-label {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 120px;
}
/* line 24, ../src/xml-map/sass/_forms.scss */
.rss-import .label-row.with-secondary-label {
  padding-right: 130px;
}
/* line 27, ../src/xml-map/sass/_forms.scss */
.rss-import .label-row .secondary-label {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 120px;
}
/* line 39, ../src/xml-map/sass/_forms.scss */
.rss-import .checkboxes {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
@media screen and (MIN-width: 1024px) {
  /* line 39, ../src/xml-map/sass/_forms.scss */
  .rss-import .checkboxes {
    max-width: 250px;
  }
}
/* line 47, ../src/xml-map/sass/_forms.scss */
.rss-import .checkboxes label {
  display: block;
}
/* line 52, ../src/xml-map/sass/_forms.scss */
.rss-import textarea {
  width: 100%;
  height: 50px;
}
/* line 56, ../src/xml-map/sass/_forms.scss */
.rss-import input[type="text"] {
  padding: 4px;
}
/* line 59, ../src/xml-map/sass/_forms.scss */
.rss-import label {
  line-height: 25px;
}
